.album-details {
    a {
        color: white;
        text-decoration: none;
    }

    background-color: black;
    color: white;
    width: 400px;
    overflow-y: scroll;
    padding: 0 10px 0 10px;

    &__tracklist, &__albumlist {
        list-style-type: none;
        padding: 0px;
        margin-bottom: 0px;
    }
}