.filter-container {
    height: 100%;
    width: calc(100% - 400px);

    &__toprow {
        height: 30px;
    }

    &__columns {
        height: calc(100% - 30px);
        display: flex;
        flex-direction: row;
    }
}